/*{
    border: 1px solid red !important;
}*/
body{
    padding-top: 70px;
}
img{
    width:30px;
    height:auto;
}
 .form-group{
     background-color: black;
     display:flex !important;
     width:250px;
 }
 .form-control{
     background-color:black;
 }
 .btn{
     background-color: black;
 }
 .glyphicon{
     color:white;
     width:30px;
 }
ul{
    display: flex;
    flex-wrap: flex;
}
li{
    width:80px;
}