{
    border: 1px solid red !important;
}
body{
    background-color: black;
}
img{
    width:30px;
    height:auto;
}
 .form-group{
     background-color: black;
     display:flex !important;
     width:250px;
 }
 .form-control{
     background-color:black;
 }
 .btn{
     background-color: black;
 }
 .glyphicon{
     color:white;
     width:30px;
 }
ul{
    display: flex;
    flex-wrap: flex;
}
li{
    width:80px;
}
nav{
    position:relative;
    display: block;
}
.content{
   margin-right:20%;
   margin-left:20%;

}
footer{
    background-color: grey;
    text-align: center;
}

.col-md-9, .col-xs-7{
    background-color:white;
}