p{
    background-color: blue;
}

head{
    background-color: aqua;
}

body{
    margin:0;
}

.header{
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

table{
    margin:0;
}

table,th,td
    {
        border:1px solid black;
        border-collapse:collapse
    }
th,td{
        padding:10px;
    }

th{
    text-align:left;
    }

tbody{
    background-color: lightgrey;
}

thead{
    background-color:grey
}

#header{
    background-color:dodgerblue;
}

#menu{
    background-color:grey;
    height:200px;
    width:100px;
    float:left;
}

#content{
    background-color:#EEEEEE;
    height:200px;
    width:200px;
    float:left;
}

#footer{
    background-color:dodgerblue;
    clear:both;
    text-align:center;
}